* {
  outline: 1px solid red;
}

body {
  text-align: center;
}

#gameboard {
  display: grid;
  margin: auto;
  height: 600px;
  max-width: 600px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
}

.board-item {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
}
