body {
  font-family: "Poppins", sans-serif;
  background-color: #e3e8e6;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  color: #708871;
  font-size: 3rem;
  margin-top: 20px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 20px;
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 400px;
  height: 400px;
  margin: 20px auto;
  background: linear-gradient(135deg, #c0d9c8, #d8e3dd);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.board-item {
  background-color: #ffffff;
  border: 2px solid #708871;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #708871;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.board-item:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}

input {
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #708871;
  border-radius: 5px;
  margin: 10px;
  width: 275px;
  background-color: #ffffff;
}

button {
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#start-game {
  background-color: #a5c3b1;
  color: #ffffff;
}

#restart-game {
  background-color: #8c9b8e;
  color: #ffffff;
}

button:hover {
  background-color: #708871;
  color: white;
  transform: scale(1.05);
}

#message {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #708871;
}

/* Footer Styling */
footer {
  background-color: #708871;
  color: #ffffff;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer p {
  margin: 0;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}
